<span class="preheader">Solicitud de cambio de contraseña.</span>
<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
  <tr>
    <td>&nbsp;</td>
    <td class="container">
      <div class="content">
        <h1>Recuperar Contraseña</h1>
        <!-- START CENTERED WHITE CONTAINER -->
        <table role="presentation" class="main">
          <!-- START MAIN CONTENT AREA -->
          <tr>
            <td class="wrapper">
              <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td>
                    <p>Saludos {{name}},</p>
                    <p>¡Estas recuperando la contraseña del sistema!<br></p>
                    <p>Para recuperar la contraseña pinche <a
                        href="{{URL_FRONTEND}}/recuperar_password/{{token}}">aqui</a>.<br>
                    </p>
                    <p><strong>Tripa vacía, corazón sin alegría</strong></p><br>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <!-- END MAIN CONTENT AREA -->
        </table>
        <!-- END CENTERED WHITE CONTAINER -->
      </div>
    </td>
    <td>&nbsp;</td>
  </tr>
</table>